<!DOCTYPE html>

<html>

<head>
  <title>Material Design for Bootstrap</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Material Design fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap Material Design -->
  <link href="../dist/css/bootstrap-material-design.css" rel="stylesheet">
  <link href="../dist/css/ripples.min.css" rel="stylesheet">

  <!-- Dropdown.js -->
  <link href="//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet">

  <!-- Page style -->
  <link href="../dist/css/view_petition.css" rel="stylesheet">

</head>
<body>

<div class="header-panel shadow-z-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3">
        <h1>Vox Pomona</h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid main">

  <div class="row">
    <nav class="col-xs-3 menu">
      <ul>
        <li> <a href="javascript:void(0)" class="btn btn-raised btn-primary">Sign this petition</a> </li>
        <li> <a href="javascript:void(0)" class="btn">Edit your petition&nbsp; &nbsp;<i class="material-icons">mode_edit</i></a> </li>
        <li> <a href="javascript:void(0)" class="btn">Finalize and Send&nbsp; &nbsp;<i class="material-icons">send</i></a> </li>
        <li></li>
        <li class="active withripple" data-target="#about">Introduction</li>
        <li class="withripple" data-target="#clause1">Clause 1</li>
        <li class="withripple" data-target="#getting-started">Clause 2</li>
        <li class="withripple" data-target="#getting-started">Clause 3</li>
        <li class="withripple" data-target="#getting-started">Signatures</li>
        <li></li>
        <li class="withripple">Back</li>
      </ul>
    </nav>
    <div class="pages col-xs-9">
      <div class="row">
        <div class="col-xs-10">
          
          <div class="well page active" id="about">
            <h1 class="header">Increase Support for Computer Science Department</h1>
            <em>Started by Jerry Yan (PO '18)</em>
            <h2>Introduction</h2>
            <p> Student interest in Computer Science has surged in recent years. At its current size, the department cannot meet student interest and often has to turn away non-majors who may wish to take classes in the Department. We feel that the Department needs increased financial support from the College in order to meet rising student interest in the field.</p>
            <br />
            We ask that the administration do the following:
          </div>
          <br />
          <div class="well page active" id="clause1">
            <h1>Clause 1</h1>
            <p> Increase the budget of the CS department by 10% for the 2017-2018 school year and by 5% each of the following 4 years. </p>
            <br />
            <h2>Comments</h2>
            <a href="javascript:void(0)" class="btn btn-no-padding"><i class="material-icons">expand_more</i></a>2<a href="  javascript:void(0)" class="btn btn-no-padding"><i class="material-icons">expand_less</i></a><strong>Andi Chen (PO '18):</strong> <em>I like this! This is a good idea.</em> <br />
            <a href="javascript:void(0)" class="btn btn-no-padding"><i class="material-icons">expand_more</i></a>1<a href="  javascript:void(0)" class="btn btn-no-padding"><i class="material-icons">expand_less</i></a><strong>Melanie Wu (Professor, Computer Science):</strong> <em>I think we need more money.</em>
            <div class="form-group label-floating">
              <label class="control-label" for="focusedInput1">New comment</label>
              <textarea class="form-control" ></textarea>
              <p class="help-block">Press enter to post</p>
            </div>

            <br />

            <h2>Proposed Changes</h2>
            <a href="javascript:void(0)" class="btn btn-no-padding"><i class="material-icons">expand_more</i></a>3<a href="javascript:void(0)" class="btn btn-no-padding"><i class="material-icons">expand_less</i></a><strong>Melanie Wu (Professor, Computer Science):</strong> <em>Change to: Increase the budget of the CS department by <span class="text-info"> 50% </span> for the 2017-2018 school year and by 5% each of the following 4 years. </em> <br /><br />
              <a href="javascript:void(0)" class="btn btn-raised btn-success">Accept</a>
              <a href="javascript:void(0)" class="btn btn-raised btn-danger">Reject</a> <br /> <br />
            <div class="form-group label-floating">
              <label class="control-label" for="focusedInput1">Propose a change</label>
              <textarea class="form-control" ></textarea>
              <p class="help-block">Press enter to post</p>
            </div>
          </div>
          <div class="well page active">
            <h1 id="clause2">Clause 2</h1>
            <p> Create and fill 3 new tenure-track positions in the CS department by the end of the 2019-2020 school year. </p>

            <br />
            <h2>Comments</h2>
            <a href="javascript:void(0)" class="btn btn-no-padding"><i class="material-icons">expand_more</i></a>5<a href="javascript:void(0)" class="btn btn-no-padding"><i class="material-icons">expand_less</i></a><strong>Andi Chen (PO '18):</strong> <em>Are you sure we can hire that many new faculty in so short of a time?</em>
            <div class="form-group label-floating">
              <label class="control-label" for="focusedInput1">New comment</label>
              <textarea class="form-control" ></textarea>
              <p class="help-block">Press enter to post</p>
            </div>

            <br />

            <h2>Proposed Changes</h2>
            <div class="form-group label-floating">
              <label class="control-label" for="focusedInput1">Propose a change</label>
              <textarea class="form-control" ></textarea>
              <p class="help-block">Press enter to post</p>
            </div>
          </div>
          <div class="well page active">
            <h1 id="clause3">Clause 3</h1>
            <p> Begin allocating funds for the construction of a new CS-specific department building within the next 5 years. </p>
            <br />
            <h2>Comments</h2>
            <a href="javascript:void(0)" class="btn btn-no-padding"><i class="material-icons">expand_more</i></a>3<a href="javascript:void(0)" class="btn btn-no-padding"><i class="material-icons">expand_less</i></a><strong>Huu Le (PO '17):</strong> <em>This seems a bit excessive.</em> <br />
            <a href="javascript:void(0)" class="btn btn-no-padding"><i class="material-icons">expand_more</i></a>2<a href="javascript:void(0)" class="btn btn-no-padding"><i class="material-icons">expand_less</i></a><strong>Benjamin Lu (PO '17):</strong> <em>Yeah, I agree. Building a new building just for CS is a bit much.</em>
            <div class="form-group label-floating">
              <label class="control-label" for="focusedInput1">New comment</label>
              <textarea class="form-control" ></textarea>
              <p class="help-block">Press enter to post</p>
            </div>

            <br />

            <h2>Proposed Changes</h2>
            <a href="javascript:void(0)" class="btn btn-no-padding"><i class="material-icons">expand_more</i></a>7<a href="javascript:void(0)" class="btn btn-no-padding"><i class="material-icons">expand_less</i></a><strong>Jessica Wang (PO '18):</strong> <em><span class="text-danger">Delete this clause.</span></em><br /><br />
              <a href="javascript:void(0)" class="btn btn-raised btn-success">Accept</a>
              <a href="javascript:void(0)" class="btn btn-raised btn-danger">Reject</a> <br /> <br />
            <div class="form-group label-floating">
              <label class="control-label" for="focusedInput1">Propose a change</label>
              <textarea class="form-control" ></textarea>
              <p class="help-block">Press enter to post</p>
            </div>
          </div>

          <br />

          <div class="well page active">
            <h1 id="clause3">Signatures</h1>
            <p> Jerry Yan, PO'18 </p>
            <p> Andi Chen, PO'18 </p>
            <p> Huu Le, PO'17 </p>
            <p> Melanie Wu, Professor of Computer Science </p>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../assets/js/ie10-viewport-bug-workaround.js"></script>

<!-- Material Design for Bootstrap -->
<script src="../dist/js/material.js"></script>
<script src="../dist/js/ripples.min.js"></script>
<script>
  $.material.init();
</script>


<!-- Sliders -->
<script src="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js"></script>
<script>
  $(function () {
    $.material.init();
    $(".shor").noUiSlider({
      start: 40,
      connect: "lower",
      range: {
        min: 0,
        max: 100
      }
    });

    $(".svert").noUiSlider({
      orientation: "vertical",
      start: 40,
      connect: "lower",
      range: {
        min: 0,
        max: 100
      }
    });
  });
</script>

<!-- Dropdown.js -->
<script src="https://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.js"></script>
<script>
  $("#dropdown-menu select").dropdown();
</script>

</body>
</html>
