{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{% csrf_token %}

<nav class="col-xs-3 menu">
  <ul>
    <a href="/VoxPomona/profile"><li class="withripple"> <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
              <i class="material-icons">person</i>
            </div>
            <div class="row-content">
              <h4 class="list-group-item-heading ">{{user.first_name}} {{user.last_name}} {{my_petitions}}</h4>
            </div>
          </div>
        </div> </li></a>
    <li> <a href="/VoxPomona/new_petition" class="btn btn-raised btn-primary">Start a new petition</a> </li>
    <li class="withripple">Search Petitions</li>
    <li></li>
    <a href="/VoxPomona/logout/"><li class="withripple">Logout</li></a>
  </ul>
</nav>

<div class="pages col-xs-9">
	<div class ="well">
    <h1>My Petitions</h1>
    <p><em>Petitions that you started</em></p>
    <p>Petitions go here...</p>
    <div class="list-group">
      <!-- use once we figure out appropriate django syntax
        <div class="list-group-item">
          <div class="row-action-primary">
            <i class="material-icons">icon based on type</i>
          </div>
          <div class="row-content">
            <h4 class="list-group-item-heading "> title of petition </h4>
            </div>
        </div>
      -->
    </div>
  </div>
  <br />
  <div class ="well">
    <h1>Petitions I'm Following</h1>
    <p><em>Petitions you've signed, commented on, or proposed changes to</em></p>
    <p>Petitions go here...</p>
    <div class="list-group">
      <!-- use once we figure out appropriate django syntax
        <div class="list-group-item">
          <div class="row-action-primary">
            <i class="material-icons">icon based on type</i>
          </div>
          <div class="row-content">
            <h4 class="list-group-item-heading "> title of petition </h4>
            </div>
        </div>
      -->
    </div>
  </div>
</div>

{% endblock %}