{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{% csrf_token %}

<nav class="col-xs-3 menu">
  <div class="user_menu">
    <a href="/profile">
      <div class="list-group">
        <div class="list-group-item">
          <div class="row-action-primary">
            <i class="material-icons">person</i>
          </div>
          <div class="row-content">
            <h4 class="list-group-item-heading ">{{ user.UserInfo.name }}</h4>
          </div>
        </div>
      </div>
    </a>
    <a href="/new_petition" class="btn btn-raised btn-primary">Start a new petition</a>
    <br /> <br />
  </div>
  <ul>
    <li class="withripple">Search Petitions</li>
    <li></li>
    <a href="/logout/"><li class="withripple">Logout</li></a>
  </ul>
</nav>

<div class="pages col-xs-9">
	<div class ="well">
    <h1>My Petitions</h1>
    <p><em>Petitions that you started</em></p>
    <div class="list-group">
      {% for pet in my_petitions %}
        <a href="{{ pet.get_url }}">
          <div class="list-group-item">
            <div class="row-action-primary">
              <i class="material-icons">{{ pet.get_icon }}</i>
            </div>
            <div class="row-content">
              <h4 class="list-group-item-heading "> {{ pet.title }} </h4>
            </div>
          </div>
        </a>
        {% if not forloop.last %}
          <div class="list-group-separator"></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <br />
  <div class ="well">
    <h1>Petitions I'm Following</h1>
    <p><em>Petitions you've signed, commented on, or proposed changes to</em></p>
    <div class="list-group">
      {% for pet in followed_petitions %}
        <a href="{{ pet.get_url }}">
          <div class="list-group-item">
            <div class="row-action-primary">
              <i class="material-icons">{{ pet.get_icon }}</i>
            </div>
            <div class="row-content">
              <h4 class="list-group-item-heading "> {{ pet.title }} </h4>
            </div>
          </div>
        </a>
        {% if not forloop.last %}
          <div class="list-group-separator"></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}