{% extends 'base.html' %}
{% block title %}Start A New Petition{% endblock %}

{% block content %}

<nav class="col-xs-3 menu">
  <ul>
    <a href="/VoxPomona/profile"><li class="withripple"> <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
              <i class="material-icons">person</i>
            </div>
            <div class="row-content">
              <h4 class="list-group-item-heading ">{{user.first_name}} {{user.last_name}}</h4>
            </div>
          </div>
        </div> </li></a>
    <a href="/VoxPomona/home/"><li class="withripple">Go Back</li></a>
    <li></li>
    <a href="/VoxPomona/logout/"><li class="withripple">Logout</li></a>
  </ul>
</nav>

<div class="pages col-xs-9">
  <div class="well">
  <h1>Start A New Petition</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <br />
      {% if field.help_text %}
          <p>{{ field.help_text }}</p>
      {% endif %}
      <div class="form-group label-floating">
        {% if field.label %}
          <label class="control-label" for="focusedInput1">{{ field.label }}</label>
        {% endif %}
        {{ field }}
      </div>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}
    <button class="btn" type="submit">Save</button>
  </form>
  </div>
</div>
{% endblock %}