<!--
  Template for viewing finalized petitions
-->

{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<!-- main page content -->
<div class="pages col-xs-9">
  <!-- basic petition content -->
	<div class ="well">
    <h1>{{ petition.title }}</h1>
    <p><em>Started by {{ petition.get_creator_name }}</em></p>
    
    <h2> Introduction </h2>
    <span class="pet_content">{{ petition.summary }}</span>
    <br /> <br />
    <p><em>We ask that the College do the following:</em></p>
  </div>
  <br />

  <!-- clauses -->
  {% for cl in clauses %}
    <div class="well">
      <h1>Clause {{ forloop.counter }}</h1>
      <span class="pet_content">{{ cl.content }}</span>
    </div>
    <br />
  {% endfor %} 
  
  <!-- signatures -->
  <div class ="well">
    <h1>Signatures</h1>
    {% for sig in petition.get_signatures %}
      <p>{{sig.get_name}}</p>
    {% endfor %}
  </div>
</div>

{% endblock %}