<!-- template for viewing user profiles -->

{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{% csrf_token %}

<!-- side navbar -->
<nav class="col-xs-3 menu">
  <div class="user_menu">
    <a href="/profile">
      <div class="list-group">
        <div class="list-group-item">
          <div class="row-action-primary">
            <i class="material-icons">person</i>
          </div>
          <div class="row-content">
            <h4 class="list-group-item-heading ">{{ user.UserInfo.name }}</h4>
          </div>
        </div>
      </div>
    </a>
    <a href="/new_petition" class="btn btn-raised btn-primary">Start a new petition</a>
    <br /> <br />
  </div>
  <ul>
    <a href="/home"><li class="withripple">Go back</li></a>
    <li></li>
    <a href="/logout/"><li class="withripple">Logout</li></a>
  </ul>
</nav>

<!-- main page content -->
<div class="pages col-xs-9">
	<div class ="well">
        <h1>Your Information</h1>
        <ul>
			<li> Name: {{user.name}}
			</li>
			<li> Email: {{user.email}}
			</li>
			<li> User type: {{user.UserInfo.get_user_type}}
			</li>
			<li> Member since {{user.date_joined}}
			</li>
		</ul>
    </div>
</div>

{% endblock %}