{% extends 'base.html' %}
{% block title %}Start A New Petition{% endblock %}

{% block content %}

<nav class="col-xs-3 menu">
  <div class="user_menu">
    <a href="/profile">
      <div class="list-group">
        <div class="list-group-item">
          <div class="row-action-primary">
            <i class="material-icons">person</i>
          </div>
          <div class="row-content">
            <h4 class="list-group-item-heading ">{{ user.UserInfo.name }}</h4>
          </div>
        </div>
      </div>
    </a>
    <br /> <br />
  </div>
  <ul>
    <a href="/home"><li class="withripple" data-target="#about">Go back</li></a>
    <li></li>
    <a href="/logout/"><li class="withripple">Logout</li></a>
  </ul>
</nav>

<div class="pages col-xs-9">
  <div class="well">
  <h1>Search For Petitions</h1>
  <h4>Leave all fields blank to get all the petitions.</h4>
  <form method="post">
    <fieldset>
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          {% if field.label %}
            <label class="col-md-2 control-label" for="focusedInput1">{{ field.label }}</label>
          {% endif %}
          <div class="col-md-10">
            {{ field }}
            <span class="help-block">{{ field.help_text }}</span>
          </div>
          
        </div>
        {% if not forloop.last %}
          <br />
        {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
      {% endfor %}
    </fieldset>
    <button class="btn" type="submit">Search</button>
  </form>
  </div>
</div>
{% endblock %}