{% extends 'base.html' %}
{% block title %}Signup{% endblock %}

{% block content %}
<div class="pages col-xs-9">
    <div id="content-container" class ="well">
        <form id="login-form" method="post" action="{% url 'register' %}" class="form-horizontal">
            <fieldset>
            <h1>Signup</h1>
            {% csrf_token %}
            <div class="form-group">
                <label for="id_fullname" class="col-md-2 control-label">Full Name</label>
                <div class="col-md-10">
                    <input type="name" class="form-control" id="id_fullname" placeholder="Full Name" name="fullname">
                </div>
            </div>
            <div class="form-group">
                <label for="id_username" class="col-md-2 control-label">Email</label>
                <div class="col-md-10">
                    <input type="email" class="form-control" id="id_username" placeholder="Email" name="username">
                </div>
            </div>
            <div class="form-group">
                <label for="id_password" class="col-md-2 control-label">Password</label>

                <div class="col-md-10">
                    <input type="password" class="form-control" id="id_password" placeholder="Password" name="password">
                </div>
            </div>


            <input type="submit" value="Create Account" 
                   class="btn btn-primary pull-right" />
            <input type="hidden" name="next" value="{{ next }}" />

            </fieldset>
        </form>
    </div>
    {% if form.errors %}
        <br /> <br /><br />
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">An error as occured.</h3>
            </div>
            <div class="panel-body">
                Please try again.
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}