{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{% csrf_token %}

<nav class="col-xs-3 menu">
  <ul>
    <a href="/profile"><li class="withripple"> <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
              <i class="material-icons">person</i>
            </div>
            <div class="row-content">
              <h4 class="list-group-item-heading ">{{ user.UserInfo.name }}</h4>
            </div>
          </div>
        </div> </li></a>
    {% if sign_status %}
      <li>
        <form action="#" method="get">
          <input type="submit" class="btn btn-raised btn-primary" value="Revoke Signature" name="revoke_btn">
        </form>
      </li>
    {% elif user_perm > 1 %}
      <li>
        <form action="#" method="get">
          <input type="submit" class="btn btn-raised btn-primary" value="Sign This Petition" name="sign_btn">
        </form>
      </li>
    {% else %}
      <!-- do nothing -->
    {% endif %}
    {% if is_owner %}
      <li>
        <form action="#" method="get">
          <input type="submit" class="btn btn-raised btn-danger" value="Delete This Petition" name="delete_btn">
        </form>
      </li>
    {% endif %}
    <a href="/home"><li class="withripple" data-target="#about">Go back</li></a>
    <li></li>
    <a href="/logout/"><li class="withripple">Logout</li></a>
  </ul>
</nav>

<div class="pages col-xs-9">
	<div class ="well">
    <h1>{{ petition.title }}</h1>
    <p><em>Started by {{ petition.get_creator_name }}</em></p>
    
    <h2> Introduction </h2>
    <p>{{ petition.summary }}</p>
    <br />
    <p><em>We ask that the College do the following:</em></p>
  </div>
  <br />

  {% for cl in clauses %}
    <div class="well">
      <h1>Clause {{ forloop.counter }}</h1>
      <p>{{ cl.content }}</p>
    </div>
    <br />
  {% endfor %}

  {% if is_owner %}
    <div class="well">
      <h1>Add a new clause</h1>
      <form method="post">
        
        {% for field in form %}
          <br />
          <div class="form-group label-floating">
            {% if field.label %}
              <label class="control-label" for="focusedInput1">{{ field.label }}</label>
            {% endif %}
            {{ field }}
          </div>
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <button class="btn" type="submit">Save</button>
      </form>
    </div>
    <br />
  {% endif %}
  
  <!-- Clauses go here -->
  <div class ="well">
    <h1>Signatures</h1>
    {% for sig in petition.get_signatures %}
      <p>{{sig.get_name}}</p>
    {% endfor %}
  </div>
</div>

{% endblock %}