{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<nav class="col-xs-3 menu">
  <div class="user_menu">
    <a href="/profile"><div class="list-group withripple">
      <div class="list-group-item">
        <div class="row-action-primary">
          <i class="material-icons">person</i>
        </div>
        <div class="row-content">
          <h4 class="list-group-item-heading ">{{ user.UserInfo.name }}</h4>
        </div>
      </div>
    </div></a>
    <div class="btn-group-vertical">
      {% if is_owner %}
        {% if petition.is_finalizable %}
          <form action="/finalize_petition" method="POST">
            {% csrf_token %}
            <input type="hidden" name="petition_id" value="{{ petition.petitionID }}">
            <input type="submit" class="btn btn-raised btn-info" value="Finalize This Petition">
          </form>
        {% endif %}
        {% if not petition.is_finalizable %}
          <form>
            <fieldset disabled="">
              <button type="submit" data-toggle="tooltip" class="btn btn-raised btn-info"> Finalize This Petition </button>
            </fieldset>
          </form>
          <h4><em>Before finalizing, you must:</em></h4>
          {% if not clauses %}
            <h4><em>Have at least 1 clause</em></h4>
          {% endif %}
          {% if petition.get_num_signatures_needed > 0 %}
            <h4><em>Get {{ petition.get_num_signatures_needed }} more signatures</em></h4>
          {% endif %}
          {% if petition.get_time_remaining > 0 %}
            <h4><em>Wait {{petition.get_time_remaining}} hours</em></h4>
          {% endif %}
          <br />
        {% endif %}
      {% endif %}
      {% if sign_status %}
        <form action="#" method="get">
          <input type="submit" class="btn btn-raised btn-primary" value="Revoke Signature" name="revoke_btn">
        </form>
      {% elif user_perm > 1 %}
        <form action="#" method="get">
          <input type="submit" class="btn btn-raised btn-primary" value="Sign This Petition" name="sign_btn">
        </form>
      {% else %}
        <!-- do nothing -->
      {% endif %}
      {% if is_owner %}
        <form action="#" method="get">
          <input type="submit" class="btn btn-raised btn-danger" value="Delete This Petition" name="delete_btn">
        </form>
      {% endif %}
    </div>
  </div>
  <ul>
    <a href="/home"><li class="withripple" data-target="#about">Go back</li></a>
    <li></li>
    <a href="/logout/"><li class="withripple">Logout</li></a>
  </ul>
</nav>

<div class="pages col-xs-9">
	<div class ="well">
    <h1>{{ petition.title }}</h1>
    <p><em>Started by {{ petition.get_creator_name }}</em></p>
    
    <h2> Introduction </h2>
    <span class="pet_content">{{ petition.summary }}</span>
    <br /> <br />
    <p><em>We ask that the College do the following:</em></p>
  </div>
  <br />

  {% for cl in clauses %}
    <div class="well">
      {% if is_owner %}
        <form action="/delete_clause" method="POST" class="pull-right">
          {% csrf_token %}
          <input type="hidden" name="clause_id" value="{{ cl.clauseID }}">
          <input type="hidden" name="petition_id" value="{{ petition.petitionID }}">
          <input type="submit" class="btn btn-danger" value="Delete This Clause">
        </form>
      {% endif %}
      <h1>Clause {{ forloop.counter }}</h1>
      <span class="pet_content">{{ cl.content }}</span>
      <br /> <br />
      <h3>Comments</h3>
      {% if cl.has_comments %}
        {% for c in comments %}
          {% if c.clauseID.clauseID == cl.clauseID %}
            {% if c.userID.email == user.UserInfo.email %}
                <form action="/delete_comment" method="POST" class="pull-right">
                  {% csrf_token %}
                  <input type="hidden" name="comment_id" value="{{ c.commentID }}">
                  <input type="hidden" name="petition_id" value="{{ petition.petitionID }}">
                  <input type="submit" class="btn btn-danger btn-sm" value="Delete Your Comment">
                </form>
              {% endif %}
            <p>
            <b>{{ c.get_name }}: </b>{{ c.content }}
            </p>
          {% endif %}
        {% endfor %}
        <br />
      {% else %}
        <p>No one has commented on this clause.</p>
      {% endif %}
      {% if user_perm > 2 %}
        <form action="/add_comment" method="POST">
          {% csrf_token %}
          <input type="hidden" name="clause_id" value="{{ cl.clauseID }}">
          <input type="hidden" name="petition_id" value="{{ petition.petitionID }}">
          <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Add a comment</label>
            <input class="form-control" name="content" required="required">
            <p class="help-block">Press Enter to save your comment</p>
          </div>
        </form>
      {% endif %}
      <br />
      <h3>Proposed Changes</h3>
      {% if cl.has_changes %}
        {% for c in changes %}
          {% if c.clauseID.clauseID == cl.clauseID %}
            <form action="/upvote_change" method="POST" class="inline">
              {% csrf_token %}
              <input type="hidden" name="change_id" value="{{ c.changeID }}">
              <input type="hidden" name="petition_id" value="{{ petition.petitionID }}">
              <button type="submit" class="btn btn-no-padding"><i class="material-icons">expand_less</i></button>
            </form>
            <p class="inline"><span class="vote_count">{{ c.get_votes }}</span></p>
            <form action="/downvote_change" method="POST" class="inline">
              {% csrf_token %}
              <input type="hidden" name="change_id" value="{{ c.changeID }}">
              <input type="hidden" name="petition_id" value="{{ petition.petitionID }}">
              <button type="submit" class="btn btn-no-padding"><i class="material-icons">expand_more</i></button>
            </form>
            <p class="inline"><b>{{ c.get_name }}: </b>
              {% if c.content|length > 0 %}
                {{ c.content }}
              {% else %}
                <em><span class="text-danger">Delete this clause</span></em>
              {% endif %}
              {% if is_owner %}
                <form action="/accept_change" method="POST" class="pull-right">
                  {% csrf_token %}
                  <input type="hidden" name="change_id" value="{{ c.changeID }}">
                  <input type="hidden" name="clause_id" value="{{ cl.clauseID }}">
                  <input type="hidden" name="petition_id" value="{{ petition.petitionID }}">
                  <input type="submit" class="btn btn-success btn-sm" value="Accept Change">
                </form>
                <form action="/reject_change" method="POST" class="pull-right">
                  {% csrf_token %}
                  <input type="hidden" name="change_id" value="{{ c.changeID }}">
                  <input type="hidden" name="clause_id" value="{{ cl.clauseID }}">
                  <input type="hidden" name="petition_id" value="{{ petition.petitionID }}">
                  <input type="submit" class="btn btn-danger btn-sm" value="Reject Change">
                </form>
              {% elif not is_owner %}
                {% if c.userID.email == user.UserInfo.email %}
                  <form action="/reject_change" method="POST" class="pull-right">
                    {% csrf_token %}
                    <input type="hidden" name="change_id" value="{{ c.changeID }}">
                    <input type="hidden" name="clause_id" value="{{ cl.clauseID }}">
                    <input type="hidden" name="petition_id" value="{{ petition.petitionID }}">
                    <input type="submit" class="btn btn-danger btn-sm" value="Delete This Change">
                  </form>
                {% endif %}
              {% endif %}
            </p>
          {% endif %}
        {% endfor %}
        <br />
      {% else %}
        <p>No one has proposed any changes to this clause.</p>
      {% endif %}
      {% if user_perm > 3 %}
        <form action="/add_change" method="POST">
          {% csrf_token %}
          <input type="hidden" name="clause_id" value="{{ cl.clauseID }}">
          <input type="hidden" name="petition_id" value="{{ petition.petitionID }}">
          <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Propose a change to this clause</label>
            <input class="form-control" name="content">
            <p class="help-block">Type exactly what you want this clause to say. Leave this blank if you want to delete the clause. Press Enter to save your proposed change.</p>
          </div>
        </form>
      {% endif %}
    </div>
    <br />
  {% endfor %}

  {% if is_owner %}
    <div class="well">
      <h1>Add a new clause</h1>
      <form method="post">
        {% csrf_token %}
        {% for field in new_clause_form %}
          <div class="form-group label-floating">
            {% if field.label %}
              <label class="control-label" for="focusedInput1">{{ field.label }}</label>
            {% endif %}
            {{ field }}
            <p class="help-block">{{ field.help_text }}</p>
          </div>
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
      </form>
    </div>
    <br />
  {% endif %}
  
  <!-- Clauses go here -->
  <div class ="well">
    <h1>Signatures</h1>
    {% for sig in petition.get_signatures %}
      <p>{{sig.get_name}}</p>
    {% endfor %}
  </div>
</div>

{% endblock %}