{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{% csrf_token %}

<nav class="col-xs-3 menu">
  <ul>
    <a href="/VoxPomona/profile"><li class="withripple"> <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
              <i class="material-icons">person</i>
            </div>
            <div class="row-content">
              <h4 class="list-group-item-heading ">{{ user.UserInfo.name }}</h4>
            </div>
          </div>
        </div> </li></a>
    <li> <a href="/VoxPomona/new_petition" class="btn btn-raised btn-primary">Start a new petition</a> </li>
    <li class="withripple">Search Petitions</li>
    <li></li>
    <a href="/VoxPomona/logout/"><li class="withripple">Logout</li></a>
  </ul>
</nav>

<div class="pages col-xs-9">
	<div class ="well">
    <h1>{{ petition.title }}</h1>
    <p><em>Started by {{ petition.userID.UserInfo.name }}</em></p>
    
    <h2> Introduction </h2>
    <p>{{ petition.summary }}</p>

    <p><em>We ask that the following actions be taken:</em></p>
  </div>
  <br />
  <!-- Clauses go here -->
  <div class ="well">
    <h1>Signatures</h1>
    <!-- signatures go here -->
  </div>
</div>

{% endblock %}